@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.active::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}